asgiref==3.8.1
astroid==2.15.1
backports.zoneinfo==0.2.1
certifi==2024.6.2
dill==0.3.6
distlib==0.3.8
dj-database-url==0.5.0
Django==3.1.13
filelock==3.15.3
gunicorn==20.0.4
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
pipenv==2024.0.1
platformdirs==4.2.2
psycopg2==2.9.5
psycopg2-binary==2.8.5
pylint==2.17.1
pylint-django==2.5.3
pylint-plugin-utils==0.7
pytz==2020.4
sqlparse==0.4.1
tomli==2.0.1
tomlkit==0.11.6
typing_extensions==4.5.0
virtualenv==20.26.2
whitenoise==5.1.0
wrapt==1.15.0
