{% comment %} {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'scripts.js' %}">
    <title>Birdie Boyz</title>
</head>
<body>
    {% block content %} <h1 class="golf-bg">Birdie Boyz</h1> {% endblock content %}
    {% block content %} <ul class="nav-top" id="nav-home">
        <li><a href="{% url 'birdie_app:home' %}">Home</a></li>
        <li><a href="{% url 'birdie_app:bryan' %}">Bryan</a></li>
        <li><a href="{% url 'birdie_app:david' %}">David</a></li>
        <li><a href="{% url 'birdie_app:greg' %}">Greg</a></li>
        <li><a href="{% url 'birdie_app:steve' %}">Steve</a></li>
        <li><a href="{% url 'birdie_app:data' %}">Data</a></li>
    </ul> {% endblock content %}
</body> {% endcomment %}