{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Birdie Boyz</title>
</head>
<body>
    <h1 class="golf-bg">Birdie Boyz</h1>
    <ul class="nav-top" id="nav-home">
        <li><a href="{% url 'birdie_app:home' %}">Home</a></li>
        <li><a href="{% url 'birdie_app:bryan' %}">Bryan</a></li>
        <li><a href="{% url 'birdie_app:david' %}">David</a></li>
        <li><a href="{% url 'birdie_app:greg' %}">Greg</a></li>
        <li><a href="{% url 'birdie_app:steve' %}">Steve</a></li>
        <li><a href="{% url 'birdie_app:data' %}">Data</a></li>
    </ul>
    <h3>All Stats</h3>
    <br>
    {% comment %} <div id="allData"></div> {% endcomment %}
    <div>
        {% for stat in stats %}
            <table>
                <tr>
                    <td><strong>Player:</strong> {{ stat.player }}</td>
                    <td><strong>Date:</strong> {{ stat.date }}</td>
                </tr>
                <tr>
                    <td><strong>Course:</strong> {{ stat.course }}</td>
                    <td><strong>Hole:</strong> {{ stat.hole }}</td>
                </tr>
            </table>
            <br><br>
            {% comment %} <p><strong>Player:</strong> {{ stat.player }}</p>
            <p><strong>Date:</strong> {{ stat.date }}</p>
            <p><strong>Course:</strong> {{ stat.course }}</p>
            <p><strong>Hole:</strong> {{ stat.hole }}</p> {% endcomment %}
        {% endfor %}
    </div>
    {% comment %} <script src="scripts.js"></script> {% endcomment %}
</body>