{% load static %}
{% comment %} {% extends "base.html" %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Birdie Boyz</title>
</head>
<body>
    <h1 class="jumbotron" id="gregBg">Birdie Boyz</h1>
    <ul class="nav-top" id="nav-greg">
        <li><a href="{% url 'birdie_app:home' %}">Home</a></li>
        <li><a href="{% url 'birdie_app:bryan' %}">Bryan</a></li>
        <li><a href="{% url 'birdie_app:david' %}">David</a></li>
        <li><a href="{% url 'birdie_app:greg' %}">Greg</a></li>
        <li><a href="{% url 'birdie_app:steve' %}">Steve</a></li>
        <li><a href="{% url 'birdie_app:data' %}">Data</a></li>
    </ul>
    <div align="center">
        <h3>Greg's Birdies</h3>
        <br>
        <div>
            {% for stat in stats %}
                <table>
                    <tr>
                        {% comment %} <td><strong>Player:</strong> {{ stat.player }}</td> {% endcomment %}
                        <td><strong>Date:</strong> {{ stat.date }}</td>
                    </tr>
                    <tr>
                        <td><strong>Course:</strong> {{ stat.course }}</td>
                    </tr>
                    <tr>
                        <td><strong>Hole:</strong> {{ stat.hole }}</td>
                    </tr>
                </table>
                <br><br>
            {% endfor %}
        </div>
    </div>
</body>