{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'scripts.js' %}">
    <title>Birdie Boyz</title>
</head>
<body>
    <h1 class="golf-bg">Birdie Boyz & Birdie Girl</h1>
    <ul class="nav-top" id="nav-home">
        <li><a href="{% url 'birdie_app:home' %}">Home</a></li>
        <li><a href="{% url 'birdie_app:bryan' %}">Bryan</a></li>
        <li><a href="{% url 'birdie_app:david' %}">David</a></li>
        <li><a href="{% url 'birdie_app:greg' %}">Greg</a></li>
        <li><a href="{% url 'birdie_app:kara' %}">Kara</a></li>
        <li><a href="{% url 'birdie_app:steve' %}">Steve</a></li>
        <li><a href="{% url 'birdie_app:data' %}">Data</a></li>
    </ul>
    <img src="{% static 'BirdieBoyz.jpeg' %}" alt="Photo of the Birdie Boyz">
    <img src="{% static 'Kara.JPEG' %}" alt="Photo of Kara and David">
    
    <h4 id="group-total">2023 Group Total: {{ group2023 }} </h4>
    
    <h4 id="group-total">2022 Group Total: {{ group2022 }} </h4>
    
    <h4 id="group-total">2021 Group Total: {{ group2021 }} </h4>
    
    <h4 id="group-total">2020 Group Total: {{ group2020 }} </h4>

    
    <form action="{% url 'birdie_app:data' %}" method="post">
        {% csrf_token %}
        <label for="player">Player:</label><br>
        <select name="player" id="player" required>
            <option value="Bryan">Bryan</option>
            <option value="David">David</option>
            <option value="Greg">Greg</option>
            <option value="Kara">Kara</option>
            <option value="Steve">Steve</option>
        </select>
        <br><br>
        <label for="date">Date:</label><br>
        <input type="date" name="date" required>
        <br><br>
        <label for="course">Golf Course:</label><br>
        <select name="course" id="course" required>
            <option value="Broadmoor">Broadmoor</option>
            <option value="Camas Meadows">Camas Meadows</option>
            <option value="Colwood">Colwood</option>
            <option value="Heron Lakes Great Blue">Heron Lakes Great Blue</option>
            <option value="Heron Lakes Greenback">Heron Lakes Greenback</option>
            <option value="Lewis River">Lewis River</option>
            <option value="Mint Valley">Mint Valley</option>
            <option value="Riverside Golf Club">Riverside Golf Club</option>
            <option value="Tri Mountain">Tri Mountain</option>
            <option value="Other">Other</option>
        </select>
        <br><br>
        <label for="hole">Hole #:</label><br>
        <select name="hole" id="hole" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
        </select>
        <br><br><br>
        <button id="submit" onclick="birdies()">submit</button>
        <br><br>
    </form>
    {% comment %} <script src="scripts.js"></script> {% endcomment %}
</body>