{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Birdie Boyz</title>
</head>
<body>
    <h1 id="steveBg">Birdie Boyz & Birdie Girl</h1>
    <ul class="nav-top" id="nav-steve">
        <li><a href="{% url 'birdie_app:home' %}">Home</a></li>
        <li><a href="{% url 'birdie_app:bryan' %}">Bryan</a></li>
        <li><a href="{% url 'birdie_app:david' %}">David</a></li>
        <li><a href="{% url 'birdie_app:greg' %}">Greg</a></li>
        <li><a href="{% url 'birdie_app:kara' %}">Kara</a></li>
        <li><a href="{% url 'birdie_app:steve' %}">Steve</a></li>
        <li><a href="{% url 'birdie_app:data' %}">Data</a></li>
    </ul>
    <div align="center">
        <h3>Steve's Birdies</h3>
        <h4 id="steveTotal">2024 TOTAL: {{ stevecount2024 }}</h4>
        <h4 id="steveTotal">2023 TOTAL: {{ stevecount2023 }}</h4>
        <h4 id="steveTotal">2022 TOTAL: {{ stevecount2022 }}</h4>
        <h4 id="steveTotal">2021 TOTAL: {{ stevecount2021 }}</h4>
        <h4 id="steveTotal">2020 TOTAL: {{ stevecount2020 }}</h4>
        <div>
            {% for stat in stats %}
                <table>
                    <tr>
                        {% comment %} <td><strong>Player:</strong> {{ stat.player }}</td> {% endcomment %}
                        <td><strong>Date:</strong> {{ stat.date }}</td>
                    </tr>
                    <tr>
                        <td><strong>Course:</strong> {{ stat.course }}</td>
                    </tr>
                    <tr>
                        <td><strong>Hole:</strong> {{ stat.hole }}</td>
                    </tr>
                </table>
                <br><br>
            {% endfor %}
        </div>
    </div>
</body>