{% load static %}

<body>
    <h1 id="steveBg">Birdie Boyz</h1>
    <ul class="nav-top" id="nav-steve">
        <li><a href="index.html">Home</a></li>
        <li><a href="bryan.html">Bryan</a></li>
        <li><a href="david.html">David</a></li>
        <li><a href="greg.html">Greg</a></li>
        <li><a href="steve.html">Steve</a></li>
        <li><a href="data.html">Data</a></li>
    </ul>
    <h3>Steve's Stats</h3>
    <br>
    <div id="steveData"></div>
    {% comment %} <script src="scripts.js"></script> {% endcomment %}
</body>